In [3]:
from matplotlib import pyplot
import seaborn as sns
import pandas as pd
import psycopg
from psycopg.rows import dict_row

In [6]:
user = "postgres"
password = "psql-password"
host = "127.0.0.1"
conn_string = "postgresql://{}:{}@{}:5432/house_price_prediction_service".format(user, password, host)

with psycopg.connect(conn_string, row_factory=dict_row) as conn:
    with conn.cursor() as cur:
        cur.execute("SELECT id, event_date, data FROM raw_home_sale_events;")
        
        # rows will be a list of dicts with the keys "id", "event_date", and "data"
        rows = cur.fetchall()

In [7]:
# Add all the ids to the inner data dictionaries and extract them
json_events = []
for row in rows:
    event = row["data"]
    event["id"] = row["id"]
    json_events.append(event)
    
df = pd.DataFrame.from_records(json_events)

In [9]:
df

,lat,date,long,view,grade,price,floors,zipcode,bedrooms,sqft_lot,...,bathrooms,condition,sqft_above,sqft_lot15,waterfront,sqft_living,yr_renovated,sqft_basement,sqft_living15,id
0,47.5112,2025-01-27,-122.257,0,7,221900.0,1.0,98178,3,5650,...,1.00,3,1180,5650,0,1180,0,0,1340,1
1,47.7210,2025-01-27,-122.319,0,7,538000.0,2.0,98125,3,7242,...,2.25,3,2170,7639,0,2570,1991,400,1690,2
2,47.7379,2025-01-27,-122.233,0,6,180000.0,1.0,98028,2,10000,...,1.00,3,770,8062,0,770,0,0,2720,3
3,47.5208,2025-01-27,-122.393,0,7,604000.0,1.0,98136,4,5000,...,3.00,5,1050,5000,0,1960,0,910,1360,4
4,47.6168,2025-01-27,-122.045,0,8,510000.0,1.0,98074,3,8080,...,2.00,3,1680,7503,0,1680,0,0,1800,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37217,47.6110,2025-02-09,-122.122,0,7,415000.0,1.0,98008,3,7975,...,1.00,4,1300,9075,0,1300,0,0,1570,37218
37218,47.7132,2025-02-09,-122.032,0,8,550285.0,1.0,98053,2,4500,...,1.75,3,1680,4500,0,1680,0,0,1670,37219
37219,47.5358,2025-02-09,-122.235,0,8,910000.0,1.0,98040,3,9865,...,2.25,4,1660,10034,0,2180,0,520,2600,37220
37220,47.5605,2025-02-09,-122.115,0,10,860000.0,2.0,98006,3,9136,...,2.50,3,2770,8442,0,2770,0,0,2890,37221
37221,47.6666,2025-02-09,-122.331,0,7,765000.0,2.0,98103,3,5000,...,1.75,3,1980,5000,0,2120,2010,140,2020,37222